@html-font-size: 100%;

// Page content
// FIXME: Use global variable since Echo and CentralNotice use this variable
@content-border-color: #a7d7f9;
@content-border-left-color: #F7E2FC;

// FIXME: Find an open font that works with this stack and is readable by Windows users
@content-font-family: 'Roboto', sans-serif;
@content-font-color: #252525;
@content-font-size: 0.875em;
@content-line-height: 1.6;
@content-padding: 1em;
@content-heading-font-size: 1.9em;
@content-heading-font-family: 'Roboto', serif;
@content-heading-font-family-generic: 'Roboto Condensed', sans-serif;
@body-background-color: #fff;
@heading-line-height: 1.3;

// Navigation
//@menu-background-color: #f6f6f6;
@menu-background-color: #FFF4F8;
@header-text-color: #726F9D;
@visited-link-color: #79FFFF;

// Common menu
@menu-link-color: #0645ad;

// Main menu
@menu-main-font-size: inherit;

@menu-main-heading-font-size: 0.75em;
@menu-main-heading-padding: 0.25em 0 0.25em 0.25em;
@menu-main-heading-color: #8E2395;

@menu-main-body-font-size: 0.75em;
@menu-main-body-link-color: #98469b;
@menu-main-body-link-visited-color: #94639B;
@menu-main-body-margin: 0 0 0 1.25em;
@menu-main-body-padding: 0;

@menu-main-logo-left: 0.5em;

// Personal menu
@menu-personal-font-size: 0.75em;
